---
import 'animate.css';

import { Menu, categorias } from '~/utils/dados';

import Image from '~/components/helper/Image.astro';
import HomeSection from '~/layout/HomeSection.astro';

import AddToCartForm from '~/components/Cart/AddToCartForm.svelte';

//ion:mdi:tag-add
//ion:mdi:tag-remove
---

<HomeSection id="cardapio">
    <div class="prose mx-auto pb-8 text-center md:prose-lg"><h2>Cardápio</h2></div>
    <div class="my-4 flex w-full flex-wrap justify-center">
        {
            categorias.map((name) => (
                <button data-categ={name} class="categorias btn btn-secondary m-2">
                    {name.charAt(0).toUpperCase() + name.slice(1)}
                </button>
            ))
        }
    </div>

    <div class="flex gap-4 py-8"></div>
    <div class="menu-item-wrapper">
        {
            Object.keys(Menu).map((category) => (
                <div id={category}>
                    <div class="flex flex-row flex-wrap justify-center gap-4 md:gap-8">
                        {Menu[category].map((item, i) => (
                            <div
                                id={`item-${i}`}
                                class:list={[
                                    `menu-item animate__animated animate__fadeIn animate__faster card hidden w-96 bg-base-100 shadow-xl`,
                                ]}
                            >
                                <figure>
                                    <Image
                                        class="mx-auto w-full rounded-md"
                                        widths={[400, 768, 1024, 2040]}
                                        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                                        loading="lazy"
                                        width={1024}
                                        height={576}
                                        src={item.img}
                                        alt={item.name}
                                    />
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <p>{item.name}</p>
                                    </h2>
                                    <p> {item.dsc}</p>
                                    <div class="card-actions justify-center">
                                        <AddToCartForm
                                            itemPrice={item.price}
                                            itemId={item.id}
                                            itemName={item.name}
                                            client:load
                                        >
                                            <button class="btn btn-square btn-success" type="submit" value="add">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m21.41 11.58l-9-9C12.04 2.21 11.53 2 11 2H4a2 2 0 0 0-2 2v7c0 .53.21 1.04.59 1.41l.41.4c.9-.54 1.94-.81 3-.81a6 6 0 0 1 6 6c0 1.06-.28 2.09-.82 3l.4.4c.37.38.89.6 1.42.6c.53 0 1.04-.21 1.41-.59l7-7c.38-.37.59-.88.59-1.41c0-.53-.21-1.04-.59-1.42M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7M10 19H7v3H5v-3H2v-2h3v-3h2v3h3v2Z"/></svg>
                                            </button>
                                            <p>R${item.price}</p>
                                            <button class="btn btn-square btn-error" type="submit" value="remove">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m21.41 11.58l-9-9C12.04 2.21 11.53 2 11 2H4a2 2 0 0 0-2 2v7c0 .53.21 1.04.59 1.41l.41.4c.9-.54 1.94-.81 3-.81a6 6 0 0 1 6 6c0 1.06-.28 2.09-.82 3l.4.4c.37.38.89.6 1.42.6c.53 0 1.04-.21 1.41-.59l7-7c.38-.37.59-.88.59-1.41c0-.53-.21-1.04-.59-1.42M5.5 7A1.5 1.5 0 0 1 4 5.5A1.5 1.5 0 0 1 5.5 4A1.5 1.5 0 0 1 7 5.5A1.5 1.5 0 0 1 5.5 7m2.62 14.54L6 19.41l-2.12 2.13l-1.42-1.42L4.59 18l-2.13-2.12l1.41-1.41L6 16.59l2.12-2.12l1.41 1.41L7.41 18l2.12 2.12l-1.41 1.42Z"/></svg>
                                                </svg>
                                            </button>
                                        </AddToCartForm>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
        <script src="~/components/MenuLogic"></script>
    </div>

    <div class="my-8 text-center">
        <button class="btn btn-primary" id="loadMore">Ver mais</button>
    </div>
</HomeSection>
