---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

import Burguer from '~/images/burguer.png';

import { DADOS } from '~/utils/consts';
---

<section class="flex flex-col justify-center py-20 md:flex-row">
    <div class="prose grid place-content-center md:prose-lg xl:prose-xl">
        <h1>Escolha sua <br /> comida <span class="text-yellow-500">favorita.</span></h1>
        <p>Aproveite nosso cardápio! Escolha o que desejar e <br /> receba em sua casa de forma rápida e segura.</p>
        <div class="flex gap-4">
            <a href="#cardapio" class="btn btn-primary">Ver cardápio</a>
            <a href={DADOS.social.whatsapp} class="btn">
                <Icon class="h-6 w-6" name="mdi:phone" />{DADOS.telefone}
            </a>
        </div>
        <div class="mt-20 flex flex-row gap-4">
            <a href=`${DADOS.social.instagram}` class="btn btn-square btn-sm p-1">
                <Icon name="mdi:instagram" />
            </a>
            <a href=`${DADOS.social.facebook}` class="btn btn-square btn-sm p-1">
                <Icon name="mdi:facebook" />
            </a>
            <a href=`${DADOS.social.whatsapp}` class="btn btn-square btn-sm p-1">
                <Icon name="mdi:whatsapp" />
            </a>
        </div>
    </div>
    <div class="relative grid place-content-center">
        <Image src={Burguer} class="" alt="burguer" />
        <div class="absolute -top-16 right-0 -z-10 h-[24rem] w-[24rem] rounded-[120px] bg-orange-300"></div>
        <div class="prose absolute bottom-0 right-0 rounded-xl bg-white p-4 shadow-lg">
            <span
                >"Entrega rapida e funcionários simpáticos. <br /> A comida chegou quente <br /> e muito saborosa!"</span
            >
            <span class="absolute bottom-4 right-4 text-orange-500"> Thiago Lopes</span>
        </div>
    </div>
</section>
