---
//import { Image } from 'astro:assets';
import Image from '@/components/Image.astro';
import Section from '@/layout/Section.astro';
import { getCategoriaMenu, categorias } from '@/utils/cardapio';

import { Menu } from '@/utils/dados';
//categorias = ;

let CategoriaMenu = getCategoriaMenu('churrasco');
if (CategoriaMenu) {
    for (const item of CategoriaMenu) {
        //console.log('Item ID: ' + item.id);
        /*
        console.log('Item ID: ' + item.id);
        console.log('Item Name: ' + item.name);
        console.log('Item Description: ' + item.dsc);
        console.log('Item Price: ' + item.price);
        */
    }
}
console.log('Reloaded');
//  <img src={item.img} alt="x" />

const limit = 4;

---

<Section id="cardapio">
    <div class="prose md:prose-lg text-center mx-auto pb-8"><h2>Cardápio</h2></div>
    <div class="flex flex-flow justify-center w-full my-4">
        {
            categorias?.map((name) => (
                <button class="categorias btn btn-secondary m-2">{name.charAt(0).toUpperCase() + name.slice(1)}</button>
            ))
        }
    </div>
    <div class="menu-item-wrapper">
        {
            Object.keys(Menu).map((category) => (
                <div id={category}>
                    <div class="justify-center flex flex-row flex-wrap gap-4">
                        {Menu[category].map((item, i) => (
                            <div id={`item-${i}`} class:list={[`menu-item hidden card w-96 bg-base-100 shadow-xl]`]}>
                                <figure>
                                    <Image
                                        class="mx-auto rounded-md w-full"
                                        widths={[400, 768, 1024, 2040]}
                                        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                                        loading="lazy"
                                        width={1024}
                                        height={576}
                                        src={item.img}
                                        alt="i"
                                    />
                                 
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <p>{item.name}</p>
                                    </h2>
                                    <p> {item.dsc}</p>
                                    <div class="card-actions justify-end">
                                        <div class="text-yellow-500 font-bold">
                                            <p>R${item.price}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
        <script>
            window.onload = (e) => {
                const maxItems = 6;
                const loadItems = 4;

                const filters = document.querySelectorAll('button.categorias');

                let currFilter = 'churrasco';
                let categoryWrapper = document.getElementById(currFilter);
                let items = categoryWrapper.querySelectorAll('.menu-item');
                let loadMore = document.getElementById('loadMore');
                let lastFilter = '';

                // Handle clicks on each button.
                filters.forEach((btn) => {
                    btn.addEventListener('click', () => {
                        lastFilter = currFilter;
                        currFilter = btn.innerText.toLowerCase();

                        //console.log(currFilter, lastFilter);

                        //let wrapper = document.querySelector('.menu-item-wrapper');

                        categoryWrapper = document.getElementById(currFilter);
                        items = categoryWrapper.querySelectorAll('.menu-item');

                        items.forEach(function (item, i) {
                            //console.log(item.innerText, i);
                            if (i < maxItems - 1) {
                                item.classList.remove('hidden');
                            }
                        });
                        //
                        if (currFilter === lastFilter) {
                            return;
                        }
                        loadMore.style.display = 'inline-flex';
                        let lastCategoryWrapper = document.getElementById(lastFilter);
                        let oldItems = lastCategoryWrapper.querySelectorAll('.menu-item');

                        oldItems.forEach(function (item) {
                            item.classList.add('hidden');
                        });
                    });
                });

                items.forEach(function (item, i) {
                    //console.log(item.innerText, i);
                    if (i < maxItems - 1) {
                        item.classList.remove('hidden');
                    }
                });

                loadMore.addEventListener('click', function () {
                    [].forEach.call(categoryWrapper.querySelectorAll('.hidden'), function (item, i) {
                        // console.log(currFilter);

                        if (i < loadItems) {
                            item.classList.remove('hidden');
                        }
                        if (categoryWrapper.querySelectorAll('.hidden').length === 0) {
                            loadMore.style.display = 'none';
                        }
                    });
                });
            };
        </script>
    </div>
   
    <div class="text-center my-8">
        <button class="btn btn-primary" id="loadMore">Ver mais</button>
    </div>
</Section>

