---
//import { Image } from 'astro:assets';
import Image from '@/components/Image.astro';
import Section from '@/layout/Section.astro';
import { categorias } from '@/utils/cardapio';

import { Menu } from '@/utils/dados';
import 'animate.css';

console.log('Reloaded');

import CartFlyoutToggle from '~/components/Svelte/CartFlyoutToggle.svelte';
import CartFlyout from '~/components/Svelte/CartFlyout.svelte';
import AddToCartForm from '~/components/Svelte/AddToCartForm.svelte';
---

<Section id="cardapio">
    <div class="prose md:prose-lg text-center mx-auto pb-8"><h2>Cardápio</h2></div>
    <div class="flex flex-flow justify-center w-full my-4">
        {
            categorias?.map((name) => (
                <button class="categorias btn btn-secondary m-2">{name.charAt(0).toUpperCase() + name.slice(1)}</button>
            ))
        }
    </div>
    <div class="flex gap-4 py-8">
        <CartFlyoutToggle client:load />
        <CartFlyout client:load />
    </div>
    <div class="menu-item-wrapper">
        {
            Object.keys(Menu).map((category) => (
                <div id={category}>
                    <div class="justify-center flex flex-row flex-wrap gap-4">
                        {Menu[category].map((item, i) => (
                            <div
                                id={`item-${i}`}
                                class:list={[
                                    `menu-item hidden card w-96 bg-base-100 shadow-xl animate__animated animate__fadeIn animate__faster`,
                                ]}
                            >
                                <figure>
                                    <Image
                                        class="mx-auto rounded-md w-full"
                                        widths={[400, 768, 1024, 2040]}
                                        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                                        loading="lazy"
                                        width={1024}
                                        height={576}
                                        src={item.img}
                                        alt={item.name}
                                    />
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <p>{item.name}</p>
                                    </h2>
                                    <p> {item.dsc}</p>
                                    <div class="card-actions justify-end">
                                        <div class="text-yellow-500 font-bold">
                                            <p>R${item.price}</p>
                                            <AddToCartForm itemId={item.id} itemName={item.name} client:load>
                                                <button type="submit">Add to cart</button>
                                            </AddToCartForm>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
        <script src="./cardapio.ts"></script>
    </div>

    <div class="text-center my-8">
        <button class="btn btn-primary" id="loadMore">Ver mais</button>
    </div>
</Section>
