---
import Image from '@/components/Image.astro';
import HomeSection from '@/layout/HomeSection.astro';

import { Menu, categorias } from '@/utils/dados';
import 'animate.css';

console.log('Reloaded');

import AddToCartForm from '~/components/SvelteCart/AddToCartForm.svelte';
---

<HomeSection id="cardapio">
    <div class="prose mx-auto pb-8 text-center md:prose-lg"><h2>Cardápio</h2></div>
    <div class="my-4 flex w-full flex-wrap justify-center">
        {
            categorias.map((name) => (
                <button data-categ={name} class="categorias btn btn-secondary m-2">
                    {name.charAt(0).toUpperCase() + name.slice(1)}
                </button>
            ))
        }
    </div>

    <div class="flex gap-4 py-8"></div>
    <div class="menu-item-wrapper">
        {
            Object.keys(Menu).map((category) => (
                <div id={category}>
                    <div class="flex flex-row flex-wrap justify-center gap-4 md:gap-8">
                        {Menu[category].map((item, i) => (
                            <div
                                id={`item-${i}`}
                                class:list={[
                                    `menu-item animate__animated animate__fadeIn animate__faster card hidden w-96 bg-base-100 shadow-xl`,
                                ]}
                            >
                                <figure>
                                    <Image
                                        class="mx-auto w-full rounded-md"
                                        widths={[400, 768, 1024, 2040]}
                                        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                                        loading="lazy"
                                        width={1024}
                                        height={576}
                                        src={item.img}
                                        alt={item.name}
                                    />
                                </figure>
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <p>{item.name}</p>
                                    </h2>
                                    <p> {item.dsc}</p>
                                    <div class="card-actions justify-center">
                                        <AddToCartForm
                                            itemPrice={item.price}
                                            itemId={item.id}
                                            itemName={item.name}
                                            client:load
                                        >
                                            <button class="btn btn-square" type="submit" value="add">
                                                +
                                            </button>
                                            <p>R${item.price}</p>
                                            <button class="btn btn-square" type="submit" value="remove">
                                                -
                                            </button>
                                        </AddToCartForm>
                                    </div>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
        <script src="@/components/MenuLogic"></script>
    </div>

    <div class="my-8 text-center">
        <button class="btn btn-primary" id="loadMore">Ver mais</button>
    </div>
</HomeSection>
