---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

import Burguer from '@/images/burguer.png';

import { DADOS } from '@/consts';
---

<section class="flex flex-col md:flex-row justify-center py-20">
  <div class="grid prose md:prose-lg xl:prose-xl place-content-center">
    <h1>Escolha sua <br /> comida <span class="text-yellow-500">favorita.</span></h1>
    <p>Aproveite nosso cardápio! Escolha o que desejar e <br /> receba em sua casa de forma rápida e segura.</p>
    <div class="gap-4 flex">
      <button class="btn btn-primary">Ver cardápio</button>
      <button class="btn">
        <Icon class="h-6 w-6" name="mdi:phone" />{DADOS.telefone}
      </button>
    </div>
    <div class="mt-20 gap-4 flex flex-row">
      <a href=`${DADOS.social.instagram}` class="btn btn-square btn-sm p-1">
        <Icon name="mdi:instagram" />
      </a>
      <a href=`${DADOS.social.facebook}` class="btn btn-square btn-sm p-1">
        <Icon name="mdi:facebook" />
      </a>
      <a href=`${DADOS.social.whatsapp}` class="btn btn-square btn-sm p-1">
        <Icon name="mdi:whatsapp" />
      </a>
    </div>
  </div>
  <div class="grid place-content-center relative">
    <Image src={Burguer} class="" alt="burguer" />
    <div class="absolute bg-orange-300 rounded-[120px] w-[24rem] h-[24rem] -z-10 -top-16 right-0"></div>
    <div class="absolute bg-white rounded-xl bottom-0 right-0 p-4 prose shadow-lg">
      <span>"Entrega rapida e funcionários simpáticos. <br /> A comida chegou quente <br /> e muito saborosa!"</span>
      <span class="absolute bottom-4 right-4 text-orange-500"> Thiago Lopes</span>
    </div>
  </div>
</section>
