---
import { Icon } from 'astro-icon';

import { NAVBUTTONS, NAVTITLE } from '@/utils/consts';

import Carrinho from '~/components/Cart/Carrinho.astro';
---

<header class="container">
    <div class="navbar">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <Icon class="h-6 w-6" name="mdi:cart" />
                </label>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                >
                    {
                        NAVBUTTONS.map((entry) => (
                            <li class="font-bold">
                                <a href={`#${entry.text}`}>{entry.name}</a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <a class="btn btn-ghost normal-case text-xl">{NAVTITLE}</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {
                    NAVBUTTONS.map((entry) => (
                        <li class="font-bold">
                            <a href={`#${entry.text}`}>{entry.name}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="navbar-end">
            <Carrinho />
        </div>
    </div>
</header>
