---
import { Icon } from 'astro-icon';

import { NAVBUTTONS, NAVTITLE } from '@/utils/consts';

import ModalCart from '~/components/Cart/ModalCart.svelte';
---

<header class="container">
    <div class="navbar">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <Icon class="h-6 w-6" name="mdi:cart" />
                </label>
                <ul
                    tabindex="0"
                    class="menu dropdown-content rounded-box menu-sm z-[1] mt-3 w-52 bg-base-100 p-2 shadow"
                >
                    {
                        NAVBUTTONS.map((entry) => (
                            <li class="font-bold">
                                <a href={`#${entry.text}`}>{entry.name}</a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <a class="btn btn-ghost text-xl normal-case">{NAVTITLE}</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {
                    NAVBUTTONS.map((entry) => (
                        <li class="font-bold">
                            <a href={`#${entry.text}`}>{entry.name}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="navbar-end">
            <ModalCart client:load />
        </div>
    </div>
</header>
